<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Oficina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bem Vindo!</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-input type="text" placeholder="Usuário"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="password"></ion-input>
      </ion-item>
    </ion-card-content>

    <ion-button expand="block" color="primary" routerLink="/lista-servicos" routerDirection="root">Logar</ion-button>
  </ion-card>

 
</ion-content>
