.cor-fundo {
    background-color: green;
    text-align: center;
}

.cor-letra {
    color: white;
}

.estilo-letra {
    font-style: italic;
}

.borda-paragrafo {
    border: 3px yellow solid;
}
  
  
  
  

